# PHP - Simple Angular API Maker (PHP-SAAM)
# A modified version of PHP-SimpleWork 
# Author: Aman Ullah, E-mail: amanullah.en@gmail.com

# Some guidelines to edit .htaccess file
# mod_rewrite.c help link> https://www.addedbytes.com/articles/for-beginners/url-rewriting-for-beginners/
# mod_rewrite.c original documentation link> http://httpd.apache.org/docs/current/rewrite/
# htaccess general help link > http://www.htaccess-guide.com/

# To deny the access for all file
# <files *.*>
#   order allow,deny
#   deny from all
# </files>

# To deny the access for all files except defined file extensions
# <FilesMatch "\.(txt|ico)$">
#   order allow,deny
#   deny from all
# </FilesMatch>

# To add default character set
# AddDefaultCharset utf-8

# If your want to ensure that any media files are treated as a download,
# rather than to be played by the browser
# AddType application/octet-stream .zip .mp3 .mp4

# To setup further error documents, for example for
# '401 Unauthorised', '403 Forbidden', and '500 Internal Server' error messages
# ErrorDocument 401 /error_pages/401.html
# ErrorDocument 404 /error_pages/404.html
# ErrorDocument 500 /error_pages/500.html

# if you have moved your web site content and would like to redirect visitors
# from old links to the new content location.
# Redirect /old_dir/ http://www.yourdomain.com/new_dir/index.html

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
  
  # To force http:// to https://
   RewriteCond %{HTTPS} off
   RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # If your site can be accessed both with and without the 'www.' prefix, you
  # can use one of the following settings to redirect users to your preferred
  # URL, either WITH or WITHOUT the 'www.' prefix. Choose ONLY one option:
  #
  # To redirect all users to access the site WITH the 'www.' prefix,
  # (http://example.com/... will be redirected to http://www.example.com/...)
  # adapt and uncomment the following:
  # RewriteCond %{HTTP_HOST} ^example\.com$ [NC]
  # RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301]
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/... will be redirected to http://example.com/...)
  # uncomment and adapt the following:
  # RewriteCond %{HTTP_HOST} ^www\.example\.com$ [NC]
  # RewriteRule ^(.*)$ http://example.com/$1 [L,R=301]

  # Modify the RewriteBase if you are using Application in a subdirectory or in a
  # VirtualDocumentRoot and the rewrite rules are not working properly.
  # For example if your site is at http://example.com/application uncomment and
  # modify the following line:
  RewriteBase /phpsaam/app/

  # If your site is running in a VirtualDocumentRoot at http://example.com/,
  # uncomment the following line:
  # RewriteBase /

  # Rewrite URLs of the form 'x' to the form 'index.php?q=x'.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  # RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^(.*)$ index.html?q=$1 [L,QSA]
</IfModule>
